<section id="experiencia">
  <h2>Experiencia</h2>

  <div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-success"
        (click)="onOpenModal('add')"
        data-bs-toggle="modal"
        data-bs-target="#addExperienciaModal"
      >
        Agregar Experiencia
      </button>
    </div>
  </div>

  <div class="contenedor row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div
      class="card"
      style="width: 18rem"
      *ngFor="let experiencia of experiencias"
    >
      <img src="{{ experiencia.imgExp }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ experiencia.nombreExp }}</h5>
        <p class="card-text">{{ experiencia.descripcionExp }}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            (click)="onOpenModal('edit', experiencia)"
            data-original-title="Edit"
            type="button"
            class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#updateExperienciaModal"
          >
            Editar
          </button>

          <button
            (click)="onOpenModal('delete', experiencia)"
            data-original-title="delete"
            type="button"
            class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#deleteExperienciaModal"
          >
            Borrar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- *************** Agregar ****************** -->
<div
  class="modal fade"
  id="addExperienciaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addExperienciaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addExperienciaModalLabel">Agregar Experiencia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
          <div class="form-group">
            <label for="nombreExp">Titulo</label>
            <input
              id="nombreExp"
              class="form-control"
              type="text"
              ngModel
              name="nombreExp"
              placeholder="Titulo"
              required
            />

            <label for="descripcionExp">Descripcion</label>
            <input
              id="descripcionExp"
              class="form-control"
              type="text"
              ngModel
              name="descripcionExp"
              placeholder="Descripcion"
              required
            />

            <label for="imgExp">Imagen</label>
            <input
              id="imgExp"
              class="form-control"
              type="text"
              ngModel
              name="imgExp"
              placeholder="Imagen (URL)"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
              id="add-experiencia-form"
              data-bs-dismiss="modal"
            >
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- *************** editar ****************** -->

<div
  class="modal fade"
  id="updateExperienciaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateExperienciaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateExperienciaModalLabel">
          Editar Experiencia
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="nombreExp">Titulo</label>
            <input
              id="nombreExp"
              class="form-control"
              type="text"
              ngModel="{{ editExperiencia?.nombreExp }}"
              name="nombreExp"
              placeholder="Titulo"
              required
            />

            <input
              type="hidden"
              ngModel="{{ editExperiencia?.idExp }}"
              name="idExp"
              class="form-control"
              id="idExp"
              placeholder=""
            />
            <label for="descripcionExp">Descripcion</label>
            <input
              id="descripcionExp"
              class="form-control"
              type="text"
              ngModel="{{ editExperiencia?.descripcionExp }}"
              name="descripcionEsxp"
              placeholder="Descripcion"
              required
            />

            <label for="imgExp">Imagen</label>
            <input
              id="imgExp"
              class="form-control"
              type="text"
              ngModel="{{ editExperiencia?.imgExp }}"
              name="imgExp"
              placeholder="Imagen (URL)"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              (click)="onUpdateExperiencia(editForm.value)"
              class="btn btn-primary"
              id="update-experiencia-form"
              data-bs-dismiss="modal"
            >
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- *************** eliminar ****************** -->

<div
  class="modal fade"
  id="deleteExperienciaModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteExperienciaModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteExperienciaModelLabel">Borrar</h5>
      </div>
      <div class="modal-body">
        <p>
          Borrar esta Experiencia?
          {{ deleteExperiencia?.nombreExp }}?
        </p>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            No
          </button>
          <button
            (click)="onDeleteExperiencia(deleteExperiencia!.idExp)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>