.contenedor {
    padding: 3rem;
    margin: 3rem;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}

.container {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-circular {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(orange 0deg, gray 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.progress-circular::after {
    position: absolute;
    content: "";
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: aquamarine;
}

.value {
    font-size: 40px;
    font-weight: 600;
    color: orange;
    z-index: 9;
}