<section id="estudios">
  <h2>Estudios</h2>
  <div>
    <div class="text-center">
      <button
        type="button"
        class="btn btn-success"
        (click)="onOpenModal('add')"
        data-bs-toggle="modal"
        data-bs-target="#addEstudiosModal"
      >
        <a class="nav-link" style="color: #fff">Agregar Estudios</a>
      </button>
    </div>
  </div>

  <div class="contenedor row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="card" style="width: 18rem" *ngFor="let estudio of estudios">
      <img src="{{ estudio.imgEst }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ estudio.nombreEst }}</h5>
        <p class="card-text">{{ estudio.descripcionEst }}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            (click)="onOpenModal('edit', estudio)"
            data-original-title="Edit"
            type="button"
            class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#updateEstudiosModal"
          >
            Editar
          </button>

          <button
            (click)="onOpenModal('delete', estudio)"
            data-original-title="delete"
            type="button"
            class="btn btn-sm btn-outline-secondary"
            data-bs-toggle="modal"
            data-bs-target="#deleteEstudiosModal"
          >
            Borrar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- *************** Agregar ****************** -->
<div
  class="modal fade"
  id="addEstudiosModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addEstudiosModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEstudiosModalLabel">Agregar Estudios</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEstudios(addForm)">
          <div class="form-group">
            <label for="nombreEst">Titulo</label>
            <input
              id="nombreEst"
              class="form-control"
              type="text"
              ngModel
              name="nombreEst"
              placeholder="Titulo"
              required
            />

            <label for="descripcionEst">Descripcion</label>
            <input
              id="descripcionEst"
              class="form-control"
              type="text"
              ngModel
              name="descripcionEst"
              placeholder="Descripcion"
              required
            />

            <label for="imgEst">Imagen</label>
            <input
              id="imgEst"
              class="form-control"
              type="text"
              ngModel
              name="imgEst"
              placeholder="Imagen (URL)"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              [disabled]="addForm.invalid"
              type="submit"
              class="btn btn-primary"
              id="add-estudios-form"
              data-bs-dismiss="modal"
            >
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- *************** editar ****************** -->

<div
  class="modal fade"
  id="updateEstudiosModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateEstudiosModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEstudiosModalLabel">
          Editar Estudios
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="nombreEst">Titulo</label>
            <input
              id="nombreEst"
              class="form-control"
              type="text"
              ngModel="{{ editEstudios?.nombreEst }}"
              name="nombreEst"
              placeholder="Titulo"
              required
            />

            <input
              type="hidden"
              ngModel="{{ editEstudios?.idEst }}"
              name="idEst"
              class="form-control"
              id="idEst"
              placeholder=""
            />
            <label for="descripcionEst">Descripcion</label>
            <input
              id="descripcionEst"
              class="form-control"
              type="text"
              ngModel="{{ editEstudios?.descripcionEst }}"
              name="descripcionEst"
              placeholder="Descripcion"
              required
            />

            <label for="imgEst">Imagen</label>
            <input
              id="imgEst"
              class="form-control"
              type="text"
              ngModel="{{ editEstudios?.imgEst }}"
              name="imgEst"
              placeholder="Imagen (URL)"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              (click)="onUpdateEstudios(editForm.value)"
              class="btn btn-primary"
              id="update-estudios-form"
              data-bs-dismiss="modal"
            >
              Editar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- *************** eliminar ****************** -->

<div
  class="modal fade"
  id="deleteEstudiosModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteEstudiosModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEstudiosModelLabel">Borrar</h5>
      </div>
      <div class="modal-body">
        <p >
          Borrar estos estudios?
          {{ deleteEstudios?.nombreEst }}?
        </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            No
          </button>
          <button
            (click)="onDeleteEstudios(deleteEstudios!.idEst)"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
